*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: rgb(226, 226, 237);
    font-family: sans-serif;
    color: #181515;
    line-height: 1.6rem;
    box-shadow: inset 0px 0px 15px 2px black;
}

.main-container{
    display: grid;
    max-width: 1200px;
    grid-template-columns: 350px 1fr;
    padding-top: 40px;
    gap : 50px;
    margin: auto;
}


.side-bar{
    height: 90dvh;
    padding: 40px;
    background-color: #201e36;
    background-color: transparent;
    backdrop-filter: blur(10px);
    border: 1px solid #3a3a3a;
    box-shadow:  0px 0px 15px 2px rgb(165, 168, 196);
    border-radius: 16px;
    position: sticky;
    top : 40px;
}

.main-content{
    /* height: auto; */
    background-color: #201e36;
    background-color: transparent;
    backdrop-filter: blur(50px);
    border: 1px solid #3a3a3a;
    padding: 40px;
    box-shadow:  0px 0px 15px 2px rgb(165, 168, 196);
    border-radius: 16px;
}

.profile {
    text-align: center;
    
}

.profile h2{
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 20px;
    color: #181717;
}

.profile img{
    border: 1px solid #3a3a3a;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    box-shadow: 0px 0px 15px 2px black;
}
.profile p{
    
    padding: 5px 15px;
    color: #635c44;
    border : 1px solid #3a3a3a;
    font-size : 0.8rem;
    border-radius: 8px;
    display : inline-block;
    margin-top: 10px;
    box-shadow:  0px 0px 15px 2px rgb(209, 194, 232);
}
.contact{
    margin-top: 30px;
    border-top : 2px solid #3a3a3a;
    padding-top: 20px ;
}
.lable{
    font-weight:500;
    font-size: 0.8rem;
    color: #181515;
}
.value{
    color: #232121;
    text-decoration: none;
}
.email , .phone{
    margin-bottom: 15px;
}

/* social media */

.social{
    margin-top: 30px;
    border-top : 2px solid #3a3a3a;
    padding-top: 20px ;
    text-align: center;
}
.social img{
    height : 24px;
    width: 24px;
    filter: grayscale(1) invert(0.7);
    transition: filter 0.3s ease;
}
.social img:hover{
    filter: grayscale(0) invert(0);
}

/* main content */


/* navigation */
#navigation{
    
    border-bottom : 2px solid #3a3a3a;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

nav{
    display: flex;
    justify-content: flex-end;
    gap:20px;
}

nav a{
    text-decoration: none;
    color: #141313;
    font-weight:500;
    transition: color 0.3s ease;
    

}
.active , nav a:hover{
    color:#998843;
    shadow:  0px 0px 15px 2px rgb(146, 146, 109);
}

/* About me */
.heading{
    color: #1c1a1a;
    font-size: 2rem;
    margin-bottom: 15px;
}
.line{
    width: 60px;
    height:5px;
    background-color: #FFCC00;;
    margin-bottom: 15px;
    border-radius: 3px;
    box-shadow:  0px 0px 15px 2px rgb(146, 146, 109);
}
.content{
    text-align: justify;
    color: #141313;
}

#about{
    margin-bottom: 40px;
}

.grid-container{
    display: grid;
    grid-template-columns : repeat(auto-fit , minmax(120px , 1fr));
    gap:30px;
    margin-bottom: 30px;
}

.item img{
    height: 48px;
    width: 48px;
    filter: invert(75%);
    margin-bottom: 15 px;
}
.item{
    padding: 20px;
    border-radius:10px;
    border: 2px solid #3a3a3a;
    text-align: center;
    margin-top: 20px;
    transition: transform 0.3s ease,box-shadow 0.3s ease;
    
}
.item h3{
    font-size: 1rem;
    font-weight: 500;
}
.item:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 5px black;
}

#education{
    margin-top: 30px;
}
.edtech{
    padding-left: 20px;
}
.year{
    font-size: 0.9rem;
    color: #151414a0;
    margin-bottom: 5px;
}
.degree{
    color:#141313;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 5px;
}
.college{
    font-style: italic;
    color: #181717;
    margin-bottom: 10px;
}
.work{
    color: #1a1818;

}
.edfirst{
    
    border-bottom: 2px solid #3a3a3a;
    padding-bottom:20px;
    margin-bottom: 30px;
}



/* Portfolio */
.project-container{
    margin-top: 100px;
    margin-top:30px;
    display: grid;
    grid-template-columns : repeat(auto-fit , minmax(120px , 1fr));
    gap:25px;
    margin-bottom: 30px;
}
.project {
    border-radius: 12px;
    border: 1px solid #3a3a3a;
    overflow: hidden;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}
.project img{
    height: 180px;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
    filter: brightness(0.7) contrast(1.2) saturate(0.9);
    
}
.project:hover{
    transform: translateY(-10px);
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.3);
}
.card{
    padding: 20px;

}

.card h3{
    color: #171616;
    margin-bottom: 10px;
}

.card p{
    color: #121111;
    line-height: 1.6;
    margin-bottom: 15px;
} 
.card span{
    background-color: rgba(255, 191, 0, 0.1);
    color: #c9b476;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 0.85rem;
    margin-right: 5px;
    border: 1px solid rgb(195, 195, 113);
}
.card span a{
    text-decoration: none;
    color: #383426;
    
    padding: 6px 9px;
    
}
.ct{
    text-align: center;
    padding: auto;
}
.certificate-container{
    position: relative;
    margin-top: 100px;
    margin-top:30px;
    display: grid;
    grid-template-columns : repeat(auto-fit , minmax(120px , 1fr));
    margin-bottom: 30px;
}
.ct img{
    height: 200px;
    margin: 25px;
    aspect-ratio: 1/1;  
    padding: auto;              
    border-radius: 12px;             
    box-shadow: 0 4px 12px rgba(0,0,0,0.1); 
    filter: brightness(0.7) contrast(1.2) saturate(0.9);
    overflow: hidden;                
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;

}
.ct{
    position: relative;
    text-align: center;
}

.certificate-container .preview{
    display : none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    inset:0;
    background: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.certificate-container .preview img{
    max-width: 120%;   
    max-height: 120%;  
    border-radius: 12px;
    object-fit: contain;
    transition: transform 0.5s ease;  
    transform: scale(1);  
}





/* Hover effect */
.ct img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0,0,0,0.25);
}



@media screen and (max-width:1200px) {
    .main-container{
        grid-template-columns: 1fr;
        padding: 20px;
    }

    .sidebar{
        position: static;
        height: auto;
    }
}

@media screen and (max-width:750px) {
    .project-container{
        grid-template-columns: 1fr;
    }

    #navigation nav {
        /* Adjust nav for smaller screens */
        justify-content: center;
        flex-wrap: wrap;
    }

    .sidebar{
        display: flex;
        justify-content: center;
        gap: 40px;
    }
}


































#navigation{
    border-bottom: 2px solid #3a3a3a;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

nav{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

@media screen and (max-width:1200px) {
    .main-container{
        grid-template-columns: 1fr;
        padding: 20px;
    }

    .sidebar{
        position: static;
        height: auto;
    }
}

@media screen and (max-width:750px) {
    .project-container{
        grid-template-columns: 1fr;
    }

    #navigation nav {
        /* Adjust nav for smaller screens */
        justify-content: center;
        flex-wrap: wrap;
    }

    .sidebar{
        display: flex;
        justify-content: center;
        gap: 40px;
    }
}

@media screen and (max-width:400px) {
    .project-container{
        grid-template-columns: 1fr;
    }

    #navigation nav {
        /* Adjust nav for smaller screens */
        justify-content: center;
        flex-wrap: wrap;
    }

    .sidebar{
        display: flex;
        justify-content: center;
        gap: 40px;
    }
}